:root {
  --accent-color: #4824ff;
  --main-color: #a947ff;
  --navigation-animation-time: 0.5s;
  --navigation-width: 20rem;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  min-height: 100vh;
}

main {
  height: 100%;
  padding-bottom: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3.5rem;
  min-height: 100%;
}

h1, h2, h3 {
  margin: 1.5rem 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  main {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}